header{
    color:white;
    background-color: #343434;
    margin-left: -8px;
    width: 101.03%;
    margin-top: -23px; 
    height: 215px;
    text-align: center;
    padding-top: 15px;
}

nav{
    line-height: 100px;
    word-spacing: 50px;
}

#link{
    color: gold;
    border-bottom: 2px solid ;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 15px;
}

#link:hover{
    font-size: 30px;
}

h2{
    color:gold;
    padding-top:20px;
    border-bottom: 5px solid #343434;
    margin-left: 75px;
    width: 175px;
    padding-bottom: 20px;
}

#flex-container1{
    display: flex;
    padding: 15px;
}

#flex1{
    width: 45%;
    margin-left: 4.3%;

}

#flex2{
    width: 45%;
}

#flex3{
    width: 45%;
    margin-left: 4.3%;
}

#flex4{
    width: 45%;
}

#text{
    margin-left: 4em;
    margin-top:-66px;
}

#savoir{
    text-decoration: none;
    color: white;
    background-color: gold;
    border: 2px solid gold;
    border-radius: 5px;
    padding: 5px;
}
